<?xml version="1.0"?>
<config>
    <modules>
        <Namespace_SearchIndexer>
            <version>0.0.1</version>
        </Namespace_SearchIndexer>
    </modules>
    <global>
        <helpers>
            <namespace_search_indexer>
                <class>Namespace_SearchIndexer_Helper</class>
            </namespace_search_indexer>
        </helpers>
        <models>
            <namespace_search_indexer_cm1>
                <class>Namespace_SearchIndexer_Model</class>
            </namespace_search_indexer_cm1>
        </models>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <index_product_to_search>
                        <class>namespace_search_indexer/observer</class>
                        <method>someObserverMethodOne</method>
                    </index_product_to_search>
                </observers>
            </catalog_product_save_commit_after>
            <sales_order_save_commit_after>
                <observers>
                    <index_products_from_order>
                        <class>namespace_search_indexer/observer</class>
                        <method>someObserverMethodTwo</method>
                    </index_products_from_order>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <resources>
            <namespace_search_indexer_setup>
                <setup>
                    <module>Namespace_SearchIndexer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </namespace_search_indexer_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <namespace_search_indexer_queue_worker>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>namespace_search_indexer/cron::run</model>
                </run>
            </namespace_search_indexer_queue_worker>
        </jobs>
    </crontab>
</config>